*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --gradiant-color: linear-gradient(to right, #ffee00, #f1f1f1);
    --bg-color: #131314;
    --footer-color: #030303;
}

body{
    background-color: var(--bg-color);
}

/* header part start  */
.nav-logo{
    width: 100px;
}
.border-hover{
    position: relative;
  text-decoration: none;
}
.border-hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: wheat;
    transition: width 0.3s ease;
    
}
.border-hover:hover::before {
    width: 100%; /* Expand width on hover */
}
/* header part end  */

/* banner part start  */
.banner-part{
    margin-top: 5rem;
}

.banner-des{
     font-size: 80px;
     background-image: var(--gradiant-color); /* Gradient from left to right */
     background-clip: text;
        color: transparent; /* Make the text transparent */
    }
.banner-btn{
    margin-top: 60px;
        background-image: var(--gradiant-color);
        background-clip: text;
        color: transparent;
        border: 1px solid #ffee00;
        border-radius: 50px;
        padding: 30px 50px;
     } 

.home-banner{
    border-radius: 50px;
}
/* banner part end  */

/* service part start  */
.service-box{
    background: #030303;
    padding: 20vh 0vh;
    border-radius: 60px;
}
.service-img-1{
    max-width: 30%;
}
.service-img-2{
    max-width: 50%;
}
/* service  part end  */

.client-review-part{
    height: 80vh;
}
.client-review-part::-webkit-scrollbar{
    display: none;
}

/* footer part start  */
.footer-part{
    background-color: var(--footer-color);
}